
@model List<Models.Models.HomeTaskAssessment>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentCourses List</title>
</head>
<body>

    <form asp-action="UpdateHomeTaskAssessments">
        @for (int i = 0; i < Model.Count; i++)
        {
            <input type="hidden" asp-for="@Model[i].Id" />
            <input asp-for="@Model[i].HomeTask.Title" readonly />
            <input asp-for="@Model[i].HomeTask.Description" readonly />
            <input asp-for="@Model[i].IsComplete" />
        }
        <p>
            <input type="submit" value="Submit" style="width: 20%; height:40px" />
        </p>
    </form>

</body>
</html>