
@model Models.Models.Lecturer
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update Lecturer</title>
</head>
<body>
    <form asp-action="@ViewBag.Action">
        <p>Name</p>
        <input asp-for="Name" />
        <p>BirthDate</p>
        <input asp-for="BirthDate" />
        <input type="hidden" asp-for="Id" />
        <p>
            <input type="submit" value="Submit" style="width: 20%; height:40px" />
        </p>
    </form>
</body>
</html>
